*

# project root exceptions
!.gitignore
!_quarto.yml
!about.qmd
!index.qmd
!setup.qmd
!styles.css
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!.python-version

# python library code
!/src
!/src/**/*.py

# github workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml


/.quarto/
